# Scratch or temporary files
scratch/
prompts/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/
site/

# Virtual environments
.env
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Test coverage
.coverage
htmlcov/
.pytest_cache/

# other files
pyproject.artifacts.toml