# Scratch or temporary files
scratch/
prompts/

# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environments
.env
.venv

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store
